body {
    overflow-x: hidden;
}

.navbar {

    background-color: #F5F5F5;
}

.navbar ul li a {
    color: black;
}

#cart {
    background-color: #F5F5F5;
}

.welcomeText {
    text-align: center;
    margin-top: 150px;
    background-image: url("images/background.png");
}

.welcomeText h1, h3, button {
    padding: 5px;
}

#orderBtn {
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgb(58, 110, 253);
    margin-bottom: 50px;
}

#PizzaSizes {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

/* .col-md-3{
    
    margin-bottom: 100px;
} */
.pizzas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.three {
    background-color: #E8E9EC;
}

.about {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.popup {
    display: none;
}

#showDetails {
    display: none;
}



@media only screen and (min-width: 360px) {}

@media only screen and (min-width: 414px) {}

@media only screen and(min-width: 540px) {}

@media only screen and(min-width: 768px) {}

@media screen and (min-width:1024px) and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar {
        margin-left: -90px;
        margin-right: -90px;
    }

}